 /* html, body {
  width: auto;
  height: 100%;
  margin: 0;
} 

body{
  display: grid;
  justify-items: center;
}
*/
#bodymovin {
<<<<<<< HEAD
  width: auto;
  object-fit: cover;
  height: 90%; 
}


#menu {
  width: auto;

  height: 10%; 
}

button {
  min-height: 20px;
}

*/
=======
  max-height: 90%;
}
>>>>>>> 416f2d9fd4ddd0ed796f847017a74eff718ae8c2
