 /* html, body {
  width: auto;
  height: 100%;
  margin: 0;
} 

body{
  display: grid;
  justify-items: center;
}

#bodymovin {
  width: auto;
  object-fit: cover;
  height: 90%; 
}


#menu {
  width: auto;

  height: 10%; 
}

button {
  min-height: 20px;
}

*/
